@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-basis: 800px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f3d9;
    color: #030027;
}

/* ------------------------------- 3. Areas ---------------------------------------- */

/* --------------- 3.1 Header ------------------------- */


.nav-links {
    display: flex;
    height: 10vh;
    background-color: #030027;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

/*Margins veranderd naar gap*/
.nav-links a {
    color: white;
    text-decoration: none;
    gap: 20px;
}

.nav-links li:nth-child(1) {
    flex: 5;
    flex-basis: auto;
}

.nav-links li:nth-child(2) {
    flex: 1;
    flex-basis: auto;
}

.nav-links li:nth-child(3) {
    flex: 1;
    flex-basis: auto;
}

.nav-links li:nth-child(4) {
    flex: 1;
    flex-basis: auto;
}

.nav-links li:nth-child(5) {
    flex: 1;
    flex-basis: auto;
}

.header-section {
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
}

/* --------------- 3.2 Main ------------------------- */

.flexbox-container {
    margin-top: 50px;
    display: flex;
    height: 350px;
    justify-content: center;
    gap: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.flexbox-item-1 {
    border: 1px #c16e70 solid;
    background: #c16e70;
    max-width: 280px;
    height: 350px;
    flex: 1;
    text-align: center;
}

.flexbox-item-1 p {
    margin-top: 180px;
}

.flexbox-item-2 p {
    margin-top: 180px;
}

.flexbox-item-3 p {
    margin-top: 180px;
}

.flexbox-item-2 {
    border: 1px #c16e70 solid;
    background-color: #c16e70;
    max-width: 280px;
    height: 350px;
    flex:1;
    text-align: center;
}

.flexbox-item-3 {
    border: 1px #c16e70 solid;
    background-color: #c16e70;
    max-width: 280px;
    height: 350px;
    flex:1;
    text-align: center;
}